mixin Cta
  section.py-6 
    hr
    .container-lg
      .row.align-items-center
        .col-md-5.col-lg-7.order-md-1.text-center.text-md-start
          img.img-fluid.mb-4(src=`${CWD}assets/img/illustrations/cta.png` width="850"  alt='')
        .col-md-7.col-lg-5.text-center.text-md-start
          h1.display-3.fw-bold.lh-sm Download our App now
          p.my-4.pe-xl-5  The rise of mobile devices transforms the way we consume information entirely and the world's most elevant channels such as Facebook.
         
          a(href='!#')
            img(src=`${CWD}assets/img/illustrations/google-play.png` alt='')
          a(href='!#')
            img(src=`${CWD}assets/img/illustrations/app-store.png` alt='')  